In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('aoc_02_input.txt', names=['rule', 'password'], sep=':')

In [20]:
df['char'] = df['rule'].apply(lambda x: x[-1])

In [22]:
df['rule'] = df['rule'].str.split(' ', expand=True)

In [32]:
df[['rule_min', 'rule_max']] = df['rule'].str.split('-', expand=True)

In [33]:
df

      rule              password char rule_min rule_max
0     9-10         bbktbbbxhfbpb    b        9       10
1     2-10           xxnxxxwxxsx    x        2       10
2      5-7               ghwwdrr    w        5        7
3      4-6                nzzjzk    z        4        6
4      7-8             szsssswfs    s        7        8
..     ...                   ...  ...      ...      ...
995    5-8             kkqkkkkkk    k        5        8
996   7-17     mqhnbwxnnnmcdlkfq    n        7       17
997  18-19   mmmmmmmmmmmmmmmmmmm    m       18       19
998    5-6               rrcrvmr    r        5        6
999    2-7               fdbvbdb    b        2        7

[1000 rows x 5 columns]

In [35]:
valid = 0
for i in range(len(df)):
    count = df.at[i, 'password'].count(df.at[i, 'char'])
    if int(df.at[i, 'rule_min']) <= count <= int(df.at[i, 'rule_max']):
        valid += 1
        
print(valid)

643

In [37]:
valid = 0
for i in range(len(df)):
    rule_min = int(df.at[i, 'rule_min'])
    rule_max = int(df.at[i, 'rule_max'])
    password = df.at[i, 'password']
    char = df.at[i, 'char']
    
    if (password[rule_min] == char and password[rule_max] != char) or (password[rule_min] != char and password[rule_max] == char):
        valid += 1
        
print(valid)

388